{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "react-app"
  ],
  "rules": {
    "no-useless-concat": "off",
    "no-useless-constructor": "warn",
    "eqeqeq": "off",
    "no-unused-vars": "warn",
    "react/jsx-pascal-case": "off"
  }
}
